<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>小小AI应用</title>
    <link rel="stylesheet" href="../static/css/marked.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
</head>
<style>
    .mine {
        background-color: #000000 !important;
        color: #fff !important;
    }

    .botmsg {
        background-color: #efe5e5;
        color: black;
    }

    pre {
        padding: 0 !important;
    }
</style>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-desktop is-12-tablet">
                <div class="card">
                    <header class="card-header">
                        <div class="columns is-vcentered" style="width: 100%;">
                            <div class="column is-three-quarters-desktop">
                                <h5 class="title is-5 has-text-centered">{{ chat_room.chat_title }}</h5>
                            </div>
                            <div class="column is-narrow">
                                <div class="buttons is-right">
                                    <a href="{{ url_for('index.chat_rooms') }}" class="button is-light">
                                        返回应用列表
                                    </a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="card-content">
                        <div id="conversation">
                            {% for message in messages %}
                                {% if message.role == 'user' %}
                                    <div class="message mine">我： {{ message.content }}</div>
                                {% else %}
                                    <div class="message botmsg">Bot: {{ message.content | safe }}</div>
                                {% endif %}
                            {% endfor %}
                            <div id="last-message"></div>
                        </div>
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input type="text" id="message" class="input" placeholder="Type your message">
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button is-info">发送</button>
                                </div>
                                <div class="control">
                                    <a href="{{ url_for('index.chat_rooms') }}" class="button is-light">
                                        返回应用列表
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
{#<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">#}
{#<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">#}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
<script src="../static/js/marked.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/js/bulma.min.js"></script>
<script src="https://unpkg.com/mic-recorder-to-mp3@2.2.1/dist/index.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

<script>
    var renderer = new marked.Renderer();
    renderer.code = function (code, language) {
        try {
            var hlCode = language ? hljs.highlight(language, code) : hljs.highlightAuto(code);
            return '<pre><code class="hljs ' + language + '">' + hlCode.value + '</code></pre>';
        } catch (e) {
            hlCode = hljs.highlightAuto(code);
            return '<pre><code class="hljs javascript">' + hlCode.value + '</code></pre>';
        }

    };
    marked.setOptions({
        renderer: renderer
    });
    document.querySelectorAll('.botmsg').forEach((box) => {
        box.innerHTML = marked.parse(box.innerHTML)
        copyCode(box)
    });
    try {
        hljs.highlightAll();
    } catch (e) {
    }
    document.querySelectorAll('code').forEach((code) => {
        try {
            hljs.highlightBlock(code);
        } catch (e) {
        }
    });

    function addMessage(message, className) {
        var conversation = document.getElementById('conversation');
        var div = document.createElement('div');
        div.classList.add('message');
        div.classList.add(className);
        if (className == "botmsg") {
            div.innerHTML = marked.parse(message);
        } else {
            div.textContent = message;
        }
        conversation.appendChild(div);


        return div
    }

    function showLoading() {
        var conversation = document.getElementById('conversation');
        var div = document.createElement('div');
        div.classList.add('loading');
        conversation.appendChild(div);
    }

    function hideLoading() {
        var conversation = document.getElementById('conversation');
        var div = conversation.querySelector('.loading');
        if (div) {
            conversation.removeChild(div);
        }
    }

    var divBox;
    var chat_content;
    var chat_id = "{{ chat_room.chat_id }}";


    var socketUrl = "{{ url_for('index.index', _external=True) }}";

    const socket = io.connect(socketUrl);
    socket.emit('join', {'chat_id': chat_id});

    socket.on('chat_ws', function (data) {
        if (data.chat_id === chat_id) {
            hideLoading();
            chat_content += data.message;
            divBox.innerHTML = marked.parse(chat_content);
        }
    });

    socket.on('chat_ws_end', function (data) {
        if (data.chat_id === chat_id) {
            divBox.querySelectorAll('code').forEach((code) => {
                hljs.highlightBlock(code);
            });
            copyCode(divBox);

        }
    });


    function sendMessage(event) {
        event.preventDefault();
        var msg = document.getElementById('message').value;
        if (msg.trim() === '') {
            return;
        }
        addMessage('我：' + msg, 'mine');
        showLoading();

        document.getElementById('message').value = '';

        socket.emit('chat_ws', {
            'msg': msg,
            'chat_id': chat_id
        });
        chat_content = 'Bot：';
        divBox = addMessage(chat_content);
    }

    function copyCode(div) {
        div.querySelectorAll('pre code').forEach((block) => {
            var copyBtn = document.createElement('button');
            copyBtn.className = 'btn btn-sm btn-outline-secondary copy-button';
            copyBtn.textContent = 'Copy';
            copyBtn.addEventListener('click', function () {
                navigator.clipboard.writeText(block.textContent)
                    .then(() => {
                        console.log('Text copied to clipboard');
                        copyBtn.textContent = 'Copied!';
                        setTimeout(function () {
                            copyBtn.textContent = 'Copy';
                        }, 2000);
                    })
                    .catch(err => {
                        console.error('Error in copying text: ', err);
                    });

            });
            block.parentNode.insertBefore(copyBtn, block.nextSibling);
        });

    }

    /**

     {#const CHAT_URL = "{{ url_for('sse.stream', channel=chat_room.chat_id) }}";#}
     const RECONNECT_DELAY = 10000;

     var source = null;

     function connectEventSource() {
        source = new EventSource(CHAT_URL);
        source.addEventListener('chat', onChatEvent, false);
        source.addEventListener('chat_end', onChatEndEvent, false);
        source.addEventListener('error', onEventSourceError, false);
    }

     function disconnectEventSource() {
        if (source) {
            source.close();
            source = null;
        }
    }

     function onChatEvent(event) {
        try {
            var data = JSON.parse(event.data);
            chat_content += data.message;
            divBox.innerHTML = marked.parse(chat_content);
        } catch (err) {
            console.error('Error parsing chat event data:', err);
        }
    }


     function onChatEndEvent(event) {
        try {


        } catch (err) {
            console.error('Error parsing chat event data:', err);
        }
    }


     **/
    var form = document.querySelector('form');
    form.addEventListener('submit', sendMessage);
    window.scrollTo(0, document.body.scrollHeight);
</script>
<script>

</script>
</body>
</html>
