<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>小小AI应用</title>
    <link rel="stylesheet" href="../static/css/marked.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
</head>
<style>
    .mine {
        background-color: #000000 !important;
        color: #fff !important;
    }

    .botmsg {
        background-color: #efe5e5;
        color: black;
    }

    pre {
        padding: 0 !important;
    }
</style>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-desktop is-12-tablet">
                <div class="card">
                    <header class="card-header">
                        <div class="columns is-vcentered" style="width: 100%;">
                            <div class="column is-three-quarters-desktop">
                                <h5 class="title is-5 has-text-centered">赛博佛陀</h5>
                            </div>
                        </div>
                    </header>
                    <div class="card-content">
                        <div id="conversation">
                            <div id="last-message"></div>
                        </div>
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input type="text" id="message" class="input" placeholder="输入您的烦恼">
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button is-info">咨询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/mic-recorder-to-mp3@2.2.1/dist/index.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

<script>


    function addMessage(message, className) {
        var conversation = document.getElementById('conversation');
        var div = document.createElement('div');
        div.classList.add('message');
        div.classList.add(className);

        div.textContent = message;
        conversation.appendChild(div);


        return div
    }

    function showLoading() {
        var conversation = document.getElementById('conversation');
        var div = document.createElement('div');
        div.classList.add('loading');
        conversation.appendChild(div);
    }

    function hideLoading() {
        var conversation = document.getElementById('conversation');
        var div = conversation.querySelector('.loading');
        if (div) {
            conversation.removeChild(div);
        }
    }

    var divBox;
    var chat_content;
    var chat_id = "chat_app_fotuo";


    var socketUrl = "{{ url_for('index.index', _external=True) }}";

    const socket = io.connect(socketUrl);
    socket.emit('join', {'chat_id': chat_id});

    socket.on('chat_ws', function (data) {
        if (data.chat_id === chat_id) {
            hideLoading();
            chat_content += data.message;
            divBox.innerHTML = chat_content;
        }
    });

    socket.on('reconnect', (attemptNumber) => {
        console.log(`WebSocket重连成功，重连次数：${attemptNumber}`);
        socket.emit('join_room', {'chat_id': chat_id}); // 重连成功后重新加入房间
    });

    function sendMessage(event) {
        event.preventDefault();
        var msg = document.getElementById('message').value;
        if (msg.trim() === '') {
            return;
        }
        addMessage('我：' + msg, 'mine');
        showLoading();

        document.getElementById('message').value = '';

        socket.emit('fotuo_ws', {
            'msg': msg,
            'chat_id': chat_id
        });
        chat_content = '佛曰：';
        divBox = addMessage(chat_content);
    }


    var form = document.querySelector('form');
    form.addEventListener('submit', sendMessage);
    window.scrollTo(0, document.body.scrollHeight);
</script>
<script>

</script>
</body>
</html>
